
:root{
    --primary-color: #423F49;
    --grey-color: #e6e6e6;
    --grey-font: #B0ADB8;

}
p, h1,h2,h3,h4,h5,h6{
    margin-bottom:0 !important;
}
body{
    overflow-x: hidden;
    font-family: 'Sofia Sans', sans-serif;
    color: var(--primary-color);
}
.btn-color{
    background-color: var(--primary-color);
    color: white;
    padding:14px 16px !important;
    border: 1px solid transparent !important;
}
.btn-color:hover{
    background-color: transparent;
    color: white;
    padding:14px 16px !important;
    border: 1px solid var(--primary-color) !important;
}

.main-color{
    color: var(--primary-color) !important;
}

@media (max-width: 1200px) {
    .content-wrapper{
        position: relative !important;
    }
    .sidebar-wrapper{
        position: absolute !important;
        z-index: 999;
        /*transform: translateX(-10%);*/
        transform: translateX(-100%);
        transition: all 0.3s ease;
    }
}

/*SIDEBAR STYLE START*/

.sidebar-wrapper{
    border-right: 1.8px solid #E6E6E6;
}
.menu-wrapper.active p{
    color: white !important;
}
.menu-wrapper.active .svg-icon path{
    fill: white !important;
}
.menu-wrapper.active{
    background-color: var(--primary-color);
}
.menu-wrapper{
    border-radius: 7px;
}
.menu-wrapper:hover{
    background-color: var(--primary-color);
    color: white !important;
}
.menu-wrapper:hover .svg-icon path{
    fill: white !important;
}

.sidebar-wrapper.active{
    transform: translateX(0);
    position: fixed;


}

/*SIDEBAR STYLE END*/


/* TOPBAR STYLE START */

.search-input-wrapper{
    border: 1.8px solid var(--grey-color);
    border-radius: 6px;
}
.fa-magnifying-glass{
    color: #A09CAA;
}

.fa-bars{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    border: 1px solid transparent;
}
.fa-bars:hover{
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

/*TOPBAR STYLE END*/


/*DASHBOARD STYLE START*/

.card-dashboard-desc{
    color: var(--grey-font);
}
.card-dashboard-wrapper{
    border-radius: 7px !important;
}

/*CARD CHART STYLE START*/

.card-chart{
    border-radius: 12px !important;
}
.btn-dropdown,.btn-dropdown:hover,.btn-dropdown:focus{
    color: var(--grey-font) !important;
    border:1px solid var(--grey-font) !important;
}


/*CARD CHART STYLE END*/

/*DASHBOARD STYLE END*/

/*TABLE STYLE START*/

.top-table{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}

.content-table{
    border-radius: 5px;
}
.content-table:nth-child(even){
    background-color: #F4F4F6;
}
.btn-table-grup button{
    background-color: transparent !important;
}
/*TABLE STYLE END*/

/*CONTENT NOTE START */

.content-note{
    border: 1px solid var(--grey-color);
    border-radius: 12px;
}

/*CONTENT NOTE END */


/*LOGIN  STYLE START */
/*.row-login{*/
/*!*    transform: translateY(50%);*!*/
/*!*    bottom: 50%;*!*/
/*!*}*!*/
.input-text-wrapper{
    background-color: #f5f5f5 !important;
}
.input-text-wrapper input{
    background-color: transparent;
    padding: 20px 22px;
    border-radius: 6px;
}
.input-text-wrapper textarea{
    background-color: transparent;
    padding: 20px 22px;
    border-radius: 6px;
}
.input-text-wrapper input:focus{
    outline: none;
}
.input-text-wrapper input::placeholder{
    color: #A8A8A8;
}
.input-text-wrapper textarea::placeholder{
    color: #A8A8A8;
}

.btn-login{
    background-color: var(--primary-color) !important;
    border-radius: 5px !important;
    margin-top: 30px !important;
    border:2px solid transparent !important;
    transition: 0.3s !important;
}
.btn-login:hover{
    border-color: var(--primary-color) !important;
    background-color: transparent !important;
}
.login-text{
    color: white;
}
.btn-login:hover{
    color: var(--primary-color) !important;
}

@media (min-width: 900px) {
    .card-login .card-body{
        padding:0 100px !important;
    }
}


@media (min-width: 577px) and  (max-width: 900px) {
    .row-login{
        transform: translateY(50%);
        bottom: 50%;
    }
}

/*LOGIN  STYLE END */

/*MODAL NOTE STYLE START */
.custom-select {
    position: relative;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 16px 20px !important;

}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 25px;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--grey-font) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--grey-color) transparent;
    top: 25px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: var(--grey-font);
    padding: 8px 16px;
    border: 1px solid transparent;
    /*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #f5f5f5;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-modal-close{
    color: white;
    background-color: #6E7174;
    border-radius: 5px !important;
    padding: 14px;
    border:1px solid transparent;
}
.btn-modal-enter{
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px !important;
    padding: 14px;
    border:1px solid transparent;
}
.btn-modal-close:hover{
    border-color: #6E7174 !important;
    color: #6E7174 !important;
}
.btn-modal-enter:hover{
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}
/*MODAL NOTE STYLE END*/

